package main

import "strconv"

templ form(global, session int) {
	<form id="countsForm" action="/" method="POST" hx-post="/" hx-swap="outerHTML" hx-select="#countsForm">
		<div>Gloabal: { strconv.Itoa(global) }</div>
		<div>User: { strconv.Itoa(session) }</div>

		<div><button type="submit" name="global" value="global">Global</button></div>
		<div><button type="submit" name="user" value="user">User</button></div>
	</form>
}

templ page(global, user int) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Document</title>
			<script src="/static/js/htmx.min.js"></script>
		</head>
		<body>
			@form(global, user)
		</body>
	</html>
}
