package main

import "time"

templ hello(name string) {
	<div>Hello, <strong>{ name }</strong></div>
}

templ timeComponent(d time.Time) {
	<div>The current time is: { d.String() } </div>
}

templ notFoundComponent() {
	<div>404 - Not found</div>
}

templ appShell(n string, d time.Time) {
	<div>
		@hello(n)
		@timeComponent(d)
	</div>
}
