package main

templ headerComponent() {
	<header>
		<h1>Shortly</h1>
		<p>Toy project implementation of a very simple url-shortener that uses the base62 for generation of the short codes.</p>
	</header>
}
