package components

templ HeaderComponent() {
	<header class="flex flex-col items-center">
		<h1 class="text-xl font-semibold text-slate-900">Shortly</h1>
		<p class="text-sm text-center w-[80%]">Toy project implementation of a very simple url-shortener that uses the base62 for generation of the short codes.</p>
	</header>
}
