package main

templ mainComponent() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Shortly</title>
		</head>
		<body>Shorten any url for freee!</body>
	</html>
}
